<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="commm.empoyeeapi.utiliities.Listeners" />
    </listeners>

    <test verbose="2" preserve-order="true" name="/Users/charan/Documents/projectSetup/RestAssured">
        <classes>

            <class name="commonn.employeeapi.testcases.TC001_Get_All_Employees" />
            <class name="commonn.employeeapi.testcases.TC002_Get_Single_Employee_Record" />
            <class name="commonn.employeeapi.testcases.TC003_Post_Employee_Record" />
            <class name="commonn.employeeapi.testcases.TC004_Put_Employee_Record" />
            <class name="commonn.employeeapi.testcases.TC005_Delete_Employee_Record" />

        </classes>
    </test>
</suite>